html {
  font-size: 62.5%;
}
/*navbar*/
body {
  font-size: 1.6rem;
  margin: 0rem;
  overflow-x: hidden;
}

.navbar-logo {
  height: 10rem;
  margin-left: 1.2rem;
  margin-top: .6rem;
}

.navbar {
  width: max-content;
  min-width: 100%;
  height: 12.5rem;
  background-color: rgb(0, 12, 46);
  display: flex;
  position:sticky;
  top: 0rem;
  align-items: center;
  outline-style: solid;
}

.navbar-title {
  margin: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: bold;
}

.nav-links {
  margin-top: 1.3rem;
  margin-left: 11%;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.nav-links-li {
  margin: 1.5rem .8rem .8rem .8rem ;
}

.nav-links-li:hover {
  margin: 1.2rem .8rem .8rem .8rem;
}

.dashboard-img {
  width: 9rem;
}
/*Start of Dashboard.html */
/*Start of Main Content Area*/

.DASHBOARD-txt {
  outline: solid;
  outline-width: .5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
}

  .content {
    display: flex;
    background-color: rgb(236, 251, 252);
  }
  .main-content {
    display: flex;
    width: 40%;
    height: auto;
    min-width: 35rem;
    margin: 0rem 0rem 0px 15%;
  }


  .course-txt-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 12, 46);
    opacity: 1;
    display: block;
    border-radius: 0rem 0rem 1rem 1rem;
  }

  .course-txt-1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
  }

  .course-txt-2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
  }

  

  .course-img {
    display: block;
    margin: 0rem 0rem -2.4rem 0rem;
    width: 100%;
    max-height: 30rem;
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .class-link {
    text-decoration: none;
    color: rgb(232, 232, 232);
  }

  .side-content {
    margin: 10%;
  }

  .class-container {
    border-radius: 1rem;
    outline-style: solid;
    box-shadow: 6px 6px lightgrey;
  }

/*Start of Side Content Area*/
/*To Do*/
.side-content {
  display: flex;
}

.to-do-title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: .1rem solid;
}


.to-do-ul {
  margin-left: -5rem;
  list-style-type: none;
  font-size: 1.6rem;
}
.Assignment-logo {
  margin-bottom: -.4rem;
  width: 1.6rem;
}

/*Recent Grades*/
.Recent-grades {
  margin-left: 50%;
}

.recent-grades-title {
  width: 15rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: .1rem solid;
}

.Recent-grades-ul {
  list-style-type: none;
}

.Assignment-class {
  list-style-type: none;
  color: grey;
}

.Assignment-score {
  list-style-type: none;
  color: grey;
}

.Green {
  margin-bottom: -.4rem;
  width: 1.2rem;
  min-height: 1rem;
  opacity: 1;
}

  /*Start of QMSS201.html */
.project1_charts {
    width: 10rem;
    height: auto;
  }

#download-pic {
    height: .7rem;
}

#project1-description {
  font-size: 1.2rem;
}
.data-btn {
  width: 115px;
  height: auto;
  text-decoration: underline;
}

.data-btn:hover span {
  display: none;
}

.data-btn:hover{
  font-size: 0px;
}

.data-btn:hover::after {
  text-decoration: underline;
  font-size: .8rem;
  opacity: .6;
  content: "Preview";
}